[Unit]
Description=Periodically check for IoT Gateway updates

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=iot-gateway-update.service

[Install]
WantedBy=timers.target
